*{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 3.5rem auto;
  background-color: aqua;
  overflow: hidden;
}
